* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Global */


h1,
h2,
h3 {
    text-align: center;
    margin: 15px 0;
}

p {
    margin: 15px 0;
}

.container {
    width: 960px;
    padding: 30px;
    background-color: #eee;
    margin: auto;
    height: calc(100vh - 60px);
}

/* Block-1 */

main>div:first-child {
    border-top: 1px solid gray;
}

main>div {
    border-bottom: 1px solid gray;
}

.block-1 p {
    font-size: 16px;
    font-weight: 300;
}

p span.html-text {
    border-bottom: 1px dashed black;
}

p span.tag {
    background-color: #e0e0e0;
    color: darkred;
}

/* Block-2 */


.block-2 p {
    font-size: 16px;
    font-weight: 300;
}

.block-2 pre {
    background-color: #e0e0e0;
}

.block-2 pre.code {
    font-family: c;
}

.code>span {
    color: darkred;
}

p span.italic {
    font-style: italic;
}


/* Footer */


footer p {
    font-size: 14px;
    font-weight: bold;

}

footer span {
    font-weight: 400;
    color: rgb(0, 102, 128);
    background-color: #e0e0e0;
}